<%- include("partials/header") %>

<section class="service-sections">
  <!-- <div class="type"> -->
    <h1 class="type-heading"> Glass Partitions </h1>
    <!-- <div class="type-div">
      <div class="type-content">
        <h1 class="type-sub-heading">asfhoads</h1>
        <p class="type-para">kjdsfhnjdskaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaanaasdnkjds <br>kjsadnkjdvbnojsan</p>
      </div>
      <div>
        <img class="type-img" src="/images/Fixed Glass partition.jpg" alt="">
      </div>
    </div> -->
  <!-- </div> -->

  <!-- <div class="row">
    <div class="col-md-8 content-div">
      <h1 class="type-sub-heading">asaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaafhoads</h1>
      <p class="type-para">kjdsfhnjdskaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaanaasdnkjds <br>kjsadnkjdvbnojsan</p>
    </div>
    <div class="col-md-4 img-div">
      <img class="type-img" src="/images/Fixed Glass partition.jpg" alt="">
    </div>
  </div> -->
  

</section>

<%- include("partials/footer") %>
