<%- include("partials/header") %>

<section id="hero-section">

  <nav>
    <a href="index.html"><img src="logo.png" alt="logo"></a>
    <div class="nav-links" id="navLinks">
      <i class="fas fa-times" onclick="hideMenu()"></i>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </div>
    <i class="fas fa-bars" onclick="showMenu()"></i>
  </nav>

  <div class="text-box">
    <h1>TITLE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    </p>
    <a href="#" class="hero-btn">Visit us to know more</a>
  </div>

</section>

<section id="products">

  <h1 class="heading">Products we offer</h1>


</section>

<%- include("partials/footer") %>
